@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme: Neon Roxo */

:root {
    --neon: #8a2be2;
    /* roxo neon */
    --neon-2: #b76bff;
    --accent: #ff66c4;
}

html,
body,
#__next {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Global typography */

:where(h1, h2, h3, h4, h5, h6) {
    font-family: 'Bebas Neue', ui-sans-serif, system-ui, -apple-system;
}

:where(p, span, a, li) {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system;
}


/* Buttons */


/*.btn-neon {
    @apply px-4 py-2 font-semibold shadow-xl rounded-2xl;
    background: linear-gradient(90deg, var(--neon), var(--neon-2));
    color: white;
}*/

.card-neon {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    border-radius: 16px;
    box-shadow: 0 6px 30px rgba(138, 43, 226, 0.12);
    border: 1px solid rgba(138, 43, 226, 0.12);
}


/* Cosmetic card styles */

.cosmetic-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


/* small screens adjustments */

@media (max-width:640px) {
    .cosmetic-img {
        height: 160px
    }
}